@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  background-color: #252323;
  border-radius: 19.3103px;
  
}

.sidebar-route {
  @apply  rounded-3xl flex w-full justify-between cursor-pointer items-center px-4 py-1;
  
}

.sidebar-route-active{
  background-color: #A5143A;
}

.sidebar-route-disable:hover{
  background-color:#444343
}