@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
}


*{
  font-family: 'Poppins';
}

.sidebar {
  background-color: #252323;
  border-radius: 19.3103px;
  
}

.sidebar-route {
  @apply rounded-3xl flex w-full justify-between cursor-pointer items-center px-4 py-1;
  
}

.sidebar-route-active{
  background-color: #A5143A;
}

.sidebar-route-disable:hover{
  background-color:#444343
}

.avance_Date{
  color:#A5143A;
}

.observaciones{
  color: #898989;
  font-size: 14px;
}

.user-img{
  width: 55px;
  height: 55px;
  position: relative;
  overflow: hidden;
}

.tabs{
  font-size: 18px;
  color: #d0d0d0;
  font-weight: 400;
  padding: 6px;
}

.tabs:hover{
  color: #A5143A;
  font-weight: 500;
  border-bottom: 2px solid;
  padding: 6px;
}

.tabs:active{
  color: #A5143A;
  font-weight: 500;
  padding: 6px;
}

.status-button {
  color: #28B446;
  background-color: #C0EA7D;
  border-radius: 8rem;
}

.status-button {
  color: #28B446;
  background-color: #C0EA7D;
  border-radius: 8rem;
}

.status-button:hover {
  background-color: #afe05f;
}

.sidebar-li:active{
  background-color: #c5ebff;
}

.thead-color{
  background-color: #F4F4F4;
}

.tbody-border{
  border-bottom: 1px solid;
  border-color: #ebebeb;
}

.input-tablas {
  text-align: center;
  width: 100%;
  color: #636363;
}

