@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Poppins';
}

.sidebar {
  @apply w-64 bg-gray-200 shadow flex-col justify-between;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.tabs{
  font-size: 18px;
  color: #d0d0d0;
  font-weight: 400;
  padding: 6px;
}

.tabs:hover{
  color: #A5143A;
  font-weight: 500;
  border-bottom: 2px solid;
  padding: 6px;
}

.tabs:active{
  color: #A5143A;
  font-weight: 500;
  padding: 6px;
}

.status-button {
  color: #28B446;
  background-color: #C0EA7D;
  border-radius: 8rem;
}

.status-button:hover {
  background-color: #afe05f;
}

.input-tablas {
  text-align: center;
  width: 100%;
  color: #636363;
}

.input-tablas:focus {
  outline: none;
}